/**
 * Set up a decent box model on the root element
 */
@import url("https://fonts.googleapis.com/css?family=Roboto");
html {
  box-sizing: border-box; }

/**
 * Remove paddings and margins from html and body
 */
html, body {
  padding: 0;
  margin: 0; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit; }

body {
  color: #acacac;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4; }

/**
* Flex lay-out block classes
* Horizontal lay-out: .dc-layout-block-horizontal
*/
.dc-layout-block-horizontal {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  flex-direction: row; }

/**
* Flex lay-out block classes
* Vertical lay-out: .dc-layout-block-vertical
*/
.dc-layout-block-vertical {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  flex-direction: column; }

/**
* Flex lay-out content block classes
* Image: .dc-content-block-text
*/
.dc-content-block-text {
  font-size: 1rem; }
  .dc-content-block-text__inner {
    padding: 8px; }
    .dc-content-block-text__inner p:first-of-type {
      margin-top: 0; }
    .dc-content-block-text__inner p:last-of-type {
      margin-bottom: 0; }

/**
* Flex lay-out content block classes
* Image: .dc-content-block-image
*/
.dc-content-block-image {
  font-size: 1rem; }
  .dc-content-block-image__inner {
    height: 100%; }
    .dc-content-block-image__inner > img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

/**
* Flex lay-out content block classes
* Video: .dc-content-block-video
*/
.dc-content-block-video {
  font-size: 1rem; }

/**
* Flex lay-out block basis classes
*/
.dc-layout-block-basis__0 {
  flex-basis: 0%;
  overflow: hidden; }
.dc-layout-block-basis__1 {
  flex-basis: 8.33333%;
  overflow: hidden; }
.dc-layout-block-basis__2 {
  flex-basis: 16.66667%;
  overflow: hidden; }
.dc-layout-block-basis__3 {
  flex-basis: 25%;
  overflow: hidden; }
.dc-layout-block-basis__4 {
  flex-basis: 33.33333%;
  overflow: hidden; }
.dc-layout-block-basis__5 {
  flex-basis: 41.66667%;
  overflow: hidden; }
.dc-layout-block-basis__6 {
  flex-basis: 50%;
  overflow: hidden; }
.dc-layout-block-basis__7 {
  flex-basis: 58.33333%;
  overflow: hidden; }
.dc-layout-block-basis__8 {
  flex-basis: 66.66667%;
  overflow: hidden; }
.dc-layout-block-basis__9 {
  flex-basis: 75%;
  overflow: hidden; }
.dc-layout-block-basis__10 {
  flex-basis: 83.33333%;
  overflow: hidden; }
.dc-layout-block-basis__11 {
  flex-basis: 91.66667%;
  overflow: hidden; }
.dc-layout-block-basis__12 {
  flex-basis: 100%;
  overflow: hidden; }

/**
* Flex justify-content classes
* start (flex-start), end (flex-end), middle (center), space-between (space-between), space-around (space-around)
*/
.dc-justify__start {
  justify-content: flex-start; }
.dc-justify__end {
  justify-content: flex-end; }
.dc-justify__middle {
  justify-content: center; }
.dc-justify__space-between {
  justify-content: space-between; }
.dc-justify__space-around {
  justify-content: space-around; }

/**
* Flex align-self classes
* start (flex-start), end (flex-end), middle (center), stretch (stretch)
*/
.dc-align-self__start {
  align-self: flex-start; }
.dc-align-self__end {
  align-self: flex-end; }
.dc-align-self__middle {
  align-self: center; }
.dc-align-self__stretch {
  align-self: stretch; }

.dc-align-text__left {
  text-align: left; }
.dc-align-text__center {
  text-align: center; }
.dc-align-text__right {
  text-align: right; }

/**
* Disclosure Slides Container
* Contains .ds-slide elements
*/
.dc-slides {
  position: relative;
  width: 84vw;
  height: 84vh;
  left: 8vw;
  top: 8vh; }
  .dc-slides--dev {
    background: black; }

/**
* Disclosure Slide
*/
.dc-slide {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0; }
  .dc-slide--dev {
    background: #bf4040; }
  .dc-slide__header--dev {
    background: #95bf40; }
  .dc-slide__main--dev {
    background: #40bf95; }
  .dc-slide__footer--dev {
    background: #4040bf; }
  .dc-slide__breadcrumb--dev {
    background: #bf4095; }
  .dc-slide ul {
    margin: 0;
    padding-left: 16px; }

body {
  background: #1a237e; }

.dc-slides {
  background: transparent; }

.dc-slide {
  background: #e8eaf6;
  box-shadow: 0 0 1px 1px #0b0b0b;
  color: #676767;
  font-size: 1rem; }
  .dc-slide h1 {
    font-size: 1.42383em; }
  .dc-slide h2 {
    font-size: 1.26563em; }
  .dc-slide h3 {
    font-size: 1.125em; }
  .dc-slide h3, .dc-slide h4, .dc-slide h5, .dc-slide h6 {
    font-size: 1em; }

.dc-slide__header {
  background: #2e7d32;
  color: #a5d6a7; }

.dc-slide__breadcrumb {
  background: #ef6c00;
  color: #ffcc80; }

.dc-slide__footer {
  background: #3949ab;
  color: #9fa8da; }

.dc-slide__main ul li strong {
  color: #3949ab; }

.dc-slide__block {
  font-size: 1rem; }

/*# sourceMappingURL=disclosure.css.map */
