$dc-slide-dev-background-color						: hsla(0, 50%, 50%, 1);
$dc-slide-header-dev-background-color			: hsla(80, 50%, 50%, 1);
$dc-slide-main-dev-background-color				: hsla(160, 50%, 50%, 1);
$dc-slide-footer-dev-background-color			: hsla(240, 50%, 50%, 1);
$dc-slide-breadcrumb-dev-background-color	: hsla(320, 50%, 50%, 1);