body {
  background: rgba(26,35,126 ,1);
}
.dc-slides {
  background: transparent;
}
.dc-slide {
  background: rgba(232,234,246 ,1);
  box-shadow: 0 0 1px 1px rgba(11, 11, 11, 1);
  color: asm-color-palette('default', 'mid-dark');
  font-size: 1rem;

  & h1 {
    font-size: #{$ms06}em;
  }

  & h2 {
    font-size: #{$ms04}em;
  }

  & h3 {
    font-size: #{$ms02}em;
  }

  & h3, h4, h5, h6 {
    font-size: #{$ms00}em;
  }

}
.dc-slide__header {
  background: rgba(46,125,50 ,1);
  color: rgba(165,214,167 ,1);
}
.dc-slide__breadcrumb {
  background: rgba(239,108,0 ,1);
  color: rgba(255,204,128 ,1);
}
.dc-slide__footer {
  background: rgba(57,73,171 ,1);
  color: rgba(159,168,218 ,1);
}
.dc-slide__main ul li strong {
  color: rgba(57,73,171 ,1);
}
.dc-slide__block {
  font-size: 1rem;
}